<html>
	<title>ROSKO</title>

	<body>
		<h1> PASAPALABRAS </h1>
		<p>
			A- tiene color marron y hojas verdes<br> 
			<form method="POST" action="pregunta">  
				<input type="text" name="response_a"><br>
				<input type="submit" name="ok_button" id="ok_button" value="+"> <br>
			</form> 
			<form method="GET" action="pass">  
				<input type="submit" name="pass_button" id="pass_button" value="-"> <br>
			</form> 
		</p>
  Respuesta: <div style="color:#80BFFF"> {{answer}} </div>
  Resultado: {{result}}
	</body>


